.action-buttons {
  width: 80px;
}

.select2-container {
  width: 100%;
}

.quote-number {
	width: 50px;
  font-style: italic;
}

.quoted-name {
  width: 200px;
  font-style: italic;
}

.quoted-active {
  width: 40px;
}

.green {
  color: green;
}

.red {
  color: red;
}