<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Julian Maestri">
	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/foundation.min.css">
	<link rel="stylesheet" href="css/select.min.css">
	<link rel="stylesheet" href="css/selectize.css">
	<title>Quotes</title>
</head>
<body ng-app="quotes" ng-controller="QuotesController as qc">
	<div class="row">
		<div class="row collapse" >
			<div class="small-12 medium-2 columns">
				<span class="prefix button success" ng-click="qc.openNewQuote()"> Nueva Quote </span>
			</div>
			<div id="new-quoted-select" class="small-12 medium-10 columns">
				<select
					ng-model="qc.selectedItem"
					ng-change="qc.selectedItem.getQuotes()"
					ng-options="item.label group by item.group for item in qc.selectList | orderBy: ['order', 'label']"
					>
				</select>
			</div>
		</div>
		<div class="large-12">
			<h1 class="text-center">{{qc.selectedItem.label}}</h1>
			<h2 class="text-center subheader"><small><quote-amount value="{{qc.quotes.length}}"></quote-amount></small></h2>
			<div
				width="100%"
				ng-if="qc.quotes.length"
				ng-repeat="(label, quotes) in qc.quotes | groupBy: 'year'">
				<table width="100%">
				<thead ng-hide="{{label == qc.selectedItem.label}}">
					<tr> <th colspan="2" class="text-center"> {{label}} - <quote-amount value={{quotes.length}}></quote-amount> </th> </tr>
				</thead>
				<tbody>
					<tr ng-repeat="quote in quotes">
						<td width>{{quote.number}}</td>
						<td width="100%">{{quote.quote}}</td>
					</tr></tbody>
				</table>
			</div>
		</div>
	</div>
    <div id="myModal" class="reveal-modal" data-reveal ng-controller="NewQuoteController as nq">
		<h2>Nueva Quote</h2>
		<a class="close-reveal-modal">&#215;</a>
		<textarea ng-model="nq.new.quote" placeholder="Quote - "></textarea>
		<div class="row collapse">
			<div class="large-10 columns">
				<ui-select ng-model="nq.new.quoted" theme="selectize">
					<ui-select-match placeholder="Quoteado ...">{{$select.selected.name}}</ui-select-match>
					<ui-select-choices repeat="quoted in nq.quoted | filter:nq.search:active | filter: $select.search">
						<span ng-bind-html="nq.trustAsHtml((quoted.name | highlight: $select.search))"></span>
						<small ng-if="quoted.aliases" ng-bind-html="nq.trustAsHtml((quoted.aliases | highlight: $select.search))"></small>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="large-2 columns"> <span class="postfix"> <input id="activo" type="checkbox" ng-model="nq.search.active" checked> Activo </span> </div>
		</div>
		<div class="row">
			<div class="large-3 columns"> <span class="button success" ng-click=""> Nueva Quote </span> </div>
		</div>
	</div>
	<script src="js/vendor/jquery.js"></script>
	<script src="js/foundation/foundation.js"></script>
	<script src="js/foundation/foundation.reveal.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/select.js"></script>
	<script src="js/angular-filter.js"></script>
	<script src="index.js"></script>
</body>
