h1,h3,th {
	text-align: center;
}

div#main-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#side-panel {
	background-color: #f7f5fa;
}

.nav.nav-pills.nav-stacked.nav-condensed > li > a {
   padding-top: 2px; 
   padding-bottom: 2px;
   border: 1px solid #d7d5da;
}

#new-quote-success,#new-quote-info,#new-quote-warning,#new-quote-danger {
	display: none;
}

td.number {
	width: 50px;
}

@media only screen and (min-width: 1000px) {
	#side-panel,#quotes-panel {
		height: 100%;
		overflow-y: auto;
	}
}

textarea {
	resize: vertical;
}

.nav>li>a:hover,.nav>li>a:focus {
	color: black;
}